<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.crossingpaths">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".CreditsActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_credits"
                android:theme="@style/FullscreenTheme">
        </activity>
        <activity
                android:name=".VotingActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_voting"
                android:theme="@style/FullscreenTheme">
        </activity>
        <activity
                android:name=".WaitingForRoomActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_waiting_for_room"
                android:theme="@style/FullscreenTheme">
        </activity>
        <activity
                android:name=".ThankYouActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_thank_you"
                android:theme="@style/FullscreenTheme">
        </activity>
        <activity
                android:name=".ui.login.ChooseRoomActivity"
                android:label="@string/title_activity_choose_room">
        </activity>
        <activity
                android:name=".ChooseCharacterActivity"
                android:label="@string/title_activity_choose_character"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>